#container {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 12%;
    padding-top: 2%;
    grid-gap: 5%;
}
#profil-container {
    width: 100%;

}
#message-container {
    
}
#title {
    text-align: center;
}
.trans {
    visibility: hidden;
}
.message-list {
    position: relative;
    border:2px solid var(--primary-color);
    height: 70vh;
    background-color: transparent;
    border-radius: 5px;
    padding: 3%;
    padding-right: 5%;
    padding-left: 5%;
    scroll-behavior: smooth;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-y: auto;
}
.chat-user {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    padding: 4%;
    margin-bottom: 4%;
    color: #fff;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    opacity: 0.7;
}
.symbolbox {
    font-size: 2em;
    color: #fff;
    margin-right: 1vw;
}
.sender-item {
    width: 60%;
    margin-right: 0;
    margin-left: auto;
    background-color: #4698F1B2;
}
.receiver-item {
    width: 60%;

    background-color:#D9D9D9;
}
.receiver-item, .sender-item {
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 5px;
}
.message-header {
    width: 100%;
    font-size: 0.6rem;
    margin-right: 0;
    margin-left: auto;
}
#message-input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: auto;
}
#message-input {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    padding: 1%;
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    margin-top: auto;
}
#message-form {
    position: relative;
    width: 100%;
}
.active {
     opacity: 1;
}