* {
    margin: 0;
    padding: 0;
}
#userIcon {
    font-size: 7rem;
    color: #000;
    margin-bottom: 2vh;
}
#boxForInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 15;
}
.attribute {
    color: #3A7FCA;
    font-family: InterX;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 3vh;
    margin-bottom: 0.3vh;
}
#background {
    position: fixed;
    width: 100%;
    z-index: -1;
}

input:read-only {
    width: 100%;
    color: #000;
    font-family: InterX;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    text-align: center;
    background: transparent;
    cursor: pointer;
    background: transparent;
    
}
.edit {
    position: absolute;
    margin-left: 3vw;
    cursor: pointer;
}
.arrow {
    position: absolute;
    margin-top: -10vh;
    margin-left: 10vw;
}

input:focus {
    width: 100%;
    color: #000;
    font-family: InterX;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    border: none;
    outline: none;
    text-align: center;
    background: transparent;
    
}
.data {
    color: #000;
    font-family: InterX;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#bio {
    color: #000;
    font-family: InterX;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.stars {
    display: inline-block;
    font-size: 1.4rem; /* Falls die Größe angepasst werden soll */
    margin-right: 2px;
    margin-top: 1vh;
}
.stars-container {
    display: inline-block; /* Ensures the stars are in one line */
    white-space: nowrap;   /* Prevents line breaks */
    text-align: center;
}
.editContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#grid {
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    box-sizing: border-box;
    grid-gap: 15px;
    padding: 2%;
    margin-top: 2vh;
    margin-bottom: 5vh;
    z-index: 15;
}
textarea {
    width: 100%; /* Nutzt die volle Breite */
    min-height: 10vh; /* Mindesthöhe, um mehrere Zeilen anzuzeigen */
    font-size: 0.8rem;
    font-weight: 700;
    text-align: left; /* Falls nötig */
    background: transparent;
    border: none;
    outline: none;
    resize: none; /* Verhindert manuelles Ändern der Größe */
    overflow-wrap: break-word; /* Verhindert abgeschnittenen Text */
    white-space: pre-wrap; /* Erlaubt Zeilenumbrüche */
    text-align: center;
    padding: 0;

}
textarea::-webkit-scrollbar {
    display: none;
}


#bio {
    font-size: 0.9rem;

}
#logOut {
    margin-top: 3vh;
    padding: 1%;
    width: 50%;
    background-color: var(--primary-color);
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    transition: transform 0.5s;
}
#logOut:hover {
    transform: scale(1.05);
    cursor: pointer;
}
#star {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><path fill="%237CB1EA" d="M50,-40C65,-27,77,-13,76,2C75,17,60,34,45,45C30,56,15,62,0,62C-15,62,-30,56,-45,45C-60,34,-75,17,-77,0C-80,-17,-70,-33,-55,-46C-40,-59,-20,-69,-5,-67C10,-65,20,-52,50,-40Z" transform="translate(100 100)" /></svg>') no-repeat center center;
    background-size: cover;
    width: 10vw;
    height: 20vh;
}

#klecks {
    width: 30vw;
    margin-top: 60vh;
    z-index: 50;

}
#klecks2 {
    width: 50vw;
    margin-left: 70vw;
    margin-top: -125vh;
    z-index: 5;
    transform: rotate(180deg);
}
#klecks3 {
    width: 53vw;
    margin-left: -5vw;
    margin-top: -160vh;
    z-index: 2;
    transform: rotate(110deg);
}
#klecks4 {
    width: 30vw;
    margin-left: 67vw;
    margin-top: -120vh;
}